@import url('https://fonts.googleapis.com/css?family={{fontName}}');
  
.container {
  font-size: {{fontSize}}rem;
  color: {{fontColor}};
  font-family: {{fontName}};
  line-height: {{lineHeight}}rem;
  font-weight: {{fontWeight}};
  font-style: {{fontStyle}};
}

.top {
  display: {{displayMode}};
}
