@import url('https://fonts.googleapis.com/css2?family={{fontName}}');

.value {
  font-family: {{fontName}};
  font-size: {{fontSize}}px;
  font-weight: {{fontWeight}};
  font-style: {{fontStyle}};
  color: {{fontColor}};
}
