@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-size: 1.5rem;
  font-family: 'Roboto Condensed';
}

.redemption {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
