* {
  font-family: "Beaufort for LOL";
}

.waiting {
  display: {waitingGameToStart};
  color: white;
}

.teams {
  position: relative;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.team {
  display: flex;
  flex-direction: {layout}; /* Stack champion-containers vertically or horizontally */
  gap: {gap}px;
  position: absolute;
}

.team1 {
  top: {vPositionT1}%;
  left: {hPositionT1}%;
}

.team2 {
  top: {vPositionT2}%;
  right: {hPositionT2}%;
}

.level {
  position: absolute;
  top: 20px;
  right: 15px;
  color: white;
  background-color: transparent;
  padding: 5px;
  border-radius: 50%;
  width: fit-content; 
  min-width: 20px; 
  height: fit-content; 
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
} 

.text {
  color: white;
  font-size: 4em;
}

.results {
  color: white;
  font-size: 1.1rem;
}

.champion-container {
  position: relative;
}

.champion-tile {
  width: 35px;
  border-radius: 50%;
  border-color: transparent; 
  border-style: solid;
  border-width: 1.5px;
}

.kda {
  font-size: 1.1rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-left: -10px;
}

.items {
  margin-left: -10px;
  width: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 2px;
}

.items img {
  width: 100%;
  height: auto;
}
